<!doctype html>
<html lang="en">
    <!-- Header -->
    <%- include('partials/header.ejs') %>

  <body>
    <!-- Navigation -->
    <%- include('partials/navbar.ejs') %>

    <section class="about">
    </section>
</body>
</html>