<!DOCTYPE html>
<html>
    <!-- Header -->
    <%- include('partials/header.ejs') %>

<body>    
    <!-- Navigation -->
    <%- include('partials/navbar.ejs') %>

    <section class="home">

        <div class="container">
            <div id="emptyspace"></div>
            <div id="loginbox" class="login-container">
                <div class="panel panel-info" >
                    <div class="panel-heading">
                        <div class="panel-title">Sign In</div>
                    </div>
    
                    <div style="padding-top:20px" class="panel-body" >
    
    
                        <form id="loginform" class="form-horizontal" role="form" method="POST" action="/signin">

                            <div id="signupalert" style="<%if(!data || !data.message){%> display:none <%}%>" class="alert alert-danger">
                                <% if (data || data.message){%>
                                <span><%=data.message%></span>
                                <%}%>
                            </div>

    
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
                                <input id="login-email" type="text" class="form-control" name="email" value="johndoe@blog-demo.app" 
                                       placeholder="Type your email">
                            </div>
    
                            <div style="margin-bottom: 25px" class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                                <input id="login-password" type="password" class="form-control" name="password" 
                                       value="a" placeholder="Type your password">
                            </div>
    
    
                            <div style="margin-top:10px" class="form-group">
                                <!-- Button -->
    
                                <div class="col-sm-12 controls">
                                  <input id="btn-login" type="submit" class="btn btn-danger" value="Login" />
    
                                </div>
                            </div>
    
    
                            <div class="form-group">
                                <div class="col-md-12 control">
                                    <div style="border-top: 1px solid#888; padding-top:10px; font-size:90%" >
                                        Don't have an account?
                                    <a href="/signup">
                                        Sign Up Here
                                    </a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

    </section>


</body>
</html>